*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  font-family:arial;
}

.banner{
  background:#00DAFC;
  line-height:230px;
  text-align:center;
  color:#fff;
  font-size:60px;
  height:230px;
  width: 100%;
}
.header{
  height:60px;
  background:#00DAFC;
  color:#fff;
  width:100%;
}
.logo{
  margin:0;
  line-height:50px;
  float:left;
}
.nav{
  list-style:none;
  float:left;
}
.nav li{display:inline-block;}
.nav li a{
  display:inline-block;
   padding:3px 15px;
  color:inherit;
  text-decoration:none;
}

.footer{background:#0A95AA; color:#fff; height:100px}
.copy{
  font-size:10px;
  text-align:center
}

.nav{float:none; margin:0}
 .nav a{ padding: 0 25px; line-height:35px}

.fixed-top{
  background:#02BDD6;
  position:fixed;
  top:0;
}
.fixed-bottom{
  top:auto;
  bottom:0;
}



/* ---------hit-----/ */
.body{
  padding: 10px;
}

.search_result{
  height: 50px;
  vertical-align: middle;
  text-align: center;
}
.hit-student{
  display: flex;
  width: 100%;
  height: 250px;
}
.sex{
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.about_student{
 flex-grow: 1;
 display: flex;
 justify-content: space-between;
 line-height: 100%;
 text-align: center;
 align-items: center;
 height: 120px;
 padding: 0;
 margin: 0 0 1rem;
 border: none;
 box-shadow: 0 7px 34px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.faculty{
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 3px 0 0 3px;
  border-right: solid 5px #eee;
  height: 100%;
  text-align: center;
  align-items: center;
}
.faculty-title{
  border-bottom: rgb(148, 47, 47);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items:center;
  border-bottom: solid 5px #eee;
  width: 100%;
}
.student-faculty{
   flex-grow: 2;
   display: flex;
   align-items:center;
}

.income{
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 3px 0 0 3px;
  border-right: solid 5px #eee;
  height: 100%;
  text-align: center;
  align-items: center;
}
.income-title{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items:center;
  border-bottom: solid 5px #eee;
  width: 100%;
}
.student-income{
  flex-grow: 2;
  display: flex;
  align-items:center;
}
.scholarship{
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 3px 0 0 3px;
  border-right: solid 5px #eee;
  height: 100%;
  text-align: center;
  align-items: center;
}

.scholarship-title{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items:center;
  border-bottom: solid 5px #eee;
  width: 100%;
}
.student-scholarship{
  flex-grow: 2;
  display: flex;
  align-items:center;
}
.student_career{
  display: flex;
  align-items: center;
  text-align: center;
  height: 120px;
  width: 100%;
  padding: 0;
  margin: 0 0 1rem;
  border: none;
  box-shadow: 0 7px 34px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.primary{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.student-primary{
  flex-grow: 4;
}
.how_junior_high{
  flex-grow: 1;
}

.junior_high{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.student-junior_high{
  flex-grow: 4;
}
.how_high{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.high{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.student-high{
  flex-grow: 4;
}
.how_university{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.arrow{
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
}
.student-exam_type{
  flex-grow: 1;
}

.university{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal_Q{
  align-items: center;
  text-align: center;
  height: 120px;
  width: 100%;
  padding: 0;
  margin: 0 0 1rem;
  border: none;
  box-shadow: 0 7px 34px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  display: flex;
  justify-content: center;
}
.exam_type{
  flex: 1;
  border-radius: 3px 0 0 3px;
  border-right: solid 5px #eee;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.personal_Q1{
  flex: 1;
  border-radius: 3px 0 0 3px;
  border-right: solid 5px #eee;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.personal_Q2{
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question{
  flex: 3;
  display: flex;
  justify-content: center;
  align-items:center;
  border-bottom: solid 5px #eee;
  width: 100%;
}
.answer{
  flex: 5;
  display: flex;
  align-items:center;
  justify-content: center;
}




/* タブの表示・非表示 */

[data-tab-content]{
  display: none
}

[data-tab-content].active{
  display: block;
}

/* section同士の余白 */
section.someTabs {
   flex-grow: 1;
    margin-bottom: 40px;
    border-bottom: solid 1px #eee;
    padding-bottom: 30px;
}
section.someTabs:last-child {
    margin: 0;
    padding: 0;
    border: none;
}
/* タブの中身のpタグの余白 */
.tabs__content p {
    margin-bottom: 10px;
}
.tabs__content p:last-child {
    margin-bottom: 0;
}

/* タブの見出し */
nav.tabs__nav {
    display: flex;
    align-items: center;
    
    width: 100%;
    padding: 0;
    margin: 0 0 1rem;
    border: none;
    box-shadow: 0 7px 34px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
nav.tabs__nav a:first-child {
    border-radius: 3px 0 0 3px;
    border-right: solid 1px #eee;
}
nav.tabs__nav a:last-child {
    border-radius: 0 3px 3px 0;
    border-left: solid 1px #eee;
}
a.tabs__item {
    display: inline-block;
    width: calc(100%/3);
    text-align: center;
    transition: all 0.2s ease;
    padding: 0;
    line-height: 50px;
    text-decoration: none;
    background: #FFF;
}
a.tabs__item.active {
    background: linear-gradient( 45deg , #bdb9ff, #67b8ff);
    color: #FFF;
}


/* 表示のアニメーション */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
  }
}
.tabs__content.active {
    animation: fadeIn 0.7s ease 0s 1 normal;
}

.about_university{
  width: 100%;
  text-align: center;
}

.box{
  display: flex;
  width: 100%;
  padding: 0.5em 1em;
  margin: 2em 10px;
  color: #474747;
  background: whitesmoke;/*背景色*/
  border-left: double 7px #4ec4d3;/*左線*/
  border-right: double 7px #4ec4d3;/*右線*/
}
.box1{
  flex: 1;
  border-right: double 7px #4ec4d3;
}
.box2{
  flex: 1;
  margin-left:10px;
}

.university_name,.tuition ,.facility_fee,.home_page,.scholarship_name,.is_Scholarship_Refund,.HowScholarship,.scholarship_criterion,.scholarship_memo{
  display: flex;
  align-items: center;
  border-top:solid 5px #eee;
  border-right:solid 5px #eee;
  border-left:solid 5px #eee;
}

.theme{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100px;
  border-right:solid 5px #eee;
}
.detail{
  flex: 1;
}

.info>div{
  height: 70px;
}

