html, body{
  width: 100%;
  height :100%;
}

.header{
  height:60px;
  background:#0A95AA;
  color:#fff;
  width:100%;
  position: fixed;
  top: 0;
}
.top-container{
  display: flex;
  justify-content: center;
}
.logo{
  margin:0;
  line-height:60px;
  float:left;
}

.banner{
 
  background:#60d4e6;
  text-align:center;
  color:#fff;
  font-weight: bold;
  font-size:20px;
  height:150px;
  width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
  
}


.container{
  width :100%;
  display :flex;
  flex-wrap :wrap;
  justify-content: center;
  align-items :center;
  flex-direction: column;
  background-color: rgb(208, 221, 234);
}
h1{
  font-family :'Alegreya Sans', sans-serif;
  font-weight: 300;
  margin-top :0;

}
/* 目指す大学 */
.select {
  position: relative;
  margin: 50px 33%;
}

.select:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
 
  position: absolute;
  pointer-events: none;
}

.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 100%;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}


/* 年収・希望する地域 */
.checkbox-container{
  display: flex;
}

.control-group{
  
  text-align: center;
  display :flex;
  flex-direction: column;
  vertical-align: top;
  background-color:white;
  text-align :left;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding :30px;
  width :400px;
  margin :10px;
} */

.control{

  display :block;
  position :relative;
  padding-left:30px;
  margin-bottom :15px;
  cursor :pointer;
  font-size: 18px;
}

#purudown{
  text-align: center;
}

/* # 共通スタイル */
.radio-label input[type=radio].radio {
  display: none;
}
.radio-label {
  position: relative;
  min-width: 10%;
  margin: 10px;
}
.radio-label .label-check {
  position: relative;
  display: block;
  padding-left: 35px;
  cursor: pointer;
}
.radio-label .label-check:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  width: 24px;
  height: 24px;
}
.radio-label input[type=radio].radio:checked + .label-check:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  display: block;
  margin: auto;
}

.radio-label .label-check.check:before {
  border: 1px solid #ddd;
}
.radio-label input[type=radio].radio:checked + .label-check.check:after {
  top: -10px;
  width: 16px;
  height: 24px;
  border-bottom: 5px solid #4abdac;
  border-right: 4px solid #4abdac;
  transform: rotate(45deg);
}

.btn{
    border: 8px double #0090bb;
    width: 150px;
    height: 50px;
    border-radius: 8px;
}

  

